* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.flexible-container {
    display: flex;
}
.first-container-header {
    padding-top: 120px;
    font-size: 50px;
    color: rgb(82, 81, 81);
}
#orange {
    color: tomato;
}
.half-width {
    width: 50%;
    padding: 5%;
}
.first-container-p{
    font-size: 20px;
    color: gray;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    margin-top: 5px;
    padding: 20px 40px;
    color: white;
    box-shadow: 2px 2px 7px tomato;
    border-radius: 50px;
}
.half-width img {
    width: 600px;
}
.second-container {
    background-image: url(images/middle-banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 469px;
}
.second-container-header {
    color: rgb(82, 81, 81);
    padding-top: 60px;
    font-size: 40px;
}
.third-container-header {
    text-align: center;
    padding-top: 65px;
    font-size: 30px;
    color: rgb(110, 110, 110);
}
.third-container-p {
    text-align: center;
    padding: 25px 300px;
    justify-content: center;
}
.intro-area img{
    width: 100%;
    border-radius: 25px;
}
.intro-area {
    width: 350px;
    height: 470px;
    float: left;
    margin: 31px;
    padding: 18px;
    border-radius: 35px;
    box-shadow: 7px 6px 21px 5px rgba(0,0,0,0.3)
}
.intro-area p {
    line-height: 180%;
}
#chart {
    display: flex;
    width: 80%;
    height: 80px;
    margin: 130px 90px 1300px 90px;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 7px 6px 21px 5px rgba(0,0,0,0.3)
}
#chart h1{
    font-size: 40px;
}
